<header>
    <nav class="Tab_bar">
        <button>
            <a href="/">Home</a>
        </button>

        <button>
            <a href='/services'>Services</a>
        </button>
        <ul>
            <li><a href="/services/sellingProperty">Selling Property</a></li>
            <li><a href="/services/rentingProperty">Renting Property</a></li>
            <li><a href="/services/agentList">Agent List</a></li>
            <li><a href="/services/propertyInformation">Property Information</a></li>
            <li><a href="/services/branchRegister">Branch Register</a></li>
        </ul>

        <button>
            <a href="/customer">Customer</a>
        </button>
        <ul>
            <li><a href="/customer/transaction">Transaction</a></li>
        </ul>

        <button>
            <a href="/agent">Agent</a>
        </button>
        <ul>
            <li><a href="/agent/transaction">Transaction</a></li>
            <li><a href="/agent/customerRegister">Customer Register</a></li>
            <li><a href="/agent/propertyRegister">Property Register</a></li>
        </ul>

        <button>
            <a href="/branch">Branch</a>
        </button>
        <ul>
            <li><a href="/branch/agentRegister">Agent Register</a></li>
            <li><a href="/branch/report">Report</a></li>
        </ul>
    </nav>
</header>