<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/minty/bootstrap.min.css" integrity="sha384-H4X+4tKc7b8s4GoMrylmy2ssQYpDHoqzPa9aKXbDwPoPUA3Ra8PA5dGzijN+ePnH" crossorigin="anonymous">
    <style>
        .dropdown { position: relative; display: inline-block; }
        .dropdown-menu { display: none; }
        .dropdown:hover .dropdown-menu { display: block; }
    </style>
    <title>Hong Kong Property</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <%- include('../partials/errMessage.ejs') %>
    <%- body %>
</body>
</html>