<br><br>
<h3 class="text-center">Hong Kong Property Home Page</h3>
<br><br>
<table class="table" style="width: 50% !important; margin-left: auto !important; margin-right: auto !important;">
    <tr>
        <td>
            <p>
                Hi every one, I am a student developer, my name is Siu Kwun Ting.<br>
                This web application is my Assignment for ADD.<br>
                This web-app system is support the property company for daily business.<br>
                <br>
                The System have a Log in system,there have <strong>Five User Type</strong>, including:<br>
                = Admin<br>
                = Agent<br>
                = Branch Manager<br>
                = Customer<br>
                = Owner<br>
                Otherwise, Normal user<br>
                <br>
                However, All service is not completed. For this version, it is able to:<br>
                <strong>For Basic requiement: </strong><br>
                = Search Selling property list by Estate<br>
                = Search Renting property list by Estate<br>
                = Generate Recommended Selling property list for specific customer by Admin, Agent and Branch Manager role<br>
                = Generate Recommended Renting property list for specific customer by Admin, Agent and Branch Manager role<br>
                = Search the inforamation of Property Owner by property by Admin, Agent, Branch Manager role<br>
                = Generate the transaction report by Branch and Transaction type<br>
                === download csv file for Admin and Branch Manager role<br>
                === view online mode for Agent role<br>

                <strong>For Extra Function: </strong><br>
                = Create All user account by admin role exclude admin account<br>
                = Create Property and Transaction function by Admin, Agent and Branch Manager role<br>
                = View All Agent Account Information<br>

                <br>
                You feel free to register a new customer account to try to using this system.<br>
                Or you can login by Admin to explore the web site.<br>
                <strong>Please careful, this is case sensitive</strong>
                User ID  : admin<br>
                Password : adminpassword<br>
            </p>
        </td>
    </tr>
</table>