<h3>Register</h3>
<form action="/user/register" method="POST">
    <div>
        <label>User ID</label>
        <input type="text" name="User_ID" placeholder="Enter User ID" value="">    
    </div>
    <div>
        <label>Password</label>
        <input type="password" name="Password" placeholder="Enter Password" value="">
    </div>
    <div>
        <label>Comfirm Password</label>
        <input type="password" name="Password2" placeholder="Comfirm Password" value="">
    </div>
    <button type="submit">Register</button>
</form>
<label>Have an Account?</label>
<button type="button"><a href="/user/login">Login</a></button>