<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/"><b>Hong Kong Property - Agent</b></a>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/services/agentList"><b>Agent List</b></a>
            </li>
            <li class="nav-item dropdown">
                <b class="nav-link dropdown-toggle">Property</b>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/services/searchProperty"><b>View List</b></a>
                    <a class="dropdown-item" href="/services/searchOwner"><b>Property Owner Infermation</b></a>
                    <a class="dropdown-item" href="/registers/createProperty"><b>Creation</b></a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <b class="nav-link dropdown-toggle">Customer</b>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/"><b>Information</b></a>
                    <a class="dropdown-item" href="/services/recommendedSellingProperty"><b>Selling Property Recommended List for Customer</b></a>
                    <a class="dropdown-item" href="/services/recommendedRentingProperty"><b>Renting Property Recommended List for Customer</b></a>
                    <a class="dropdown-item" href="/registers/createCustomer"><b>Creation</b></a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <b class="nav-link dropdown-toggle">Owner</b>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/"><b>View List</b></a>
                    <a class="dropdown-item" href="/registers/createOwner"><b>Creation</b></a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <b class="nav-link dropdown-toggle">Transaction</b>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/services/searchTransaction"><b>View List</b></a>
                    <a class="dropdown-item" href="/registers/createTransaction"><b>Creation</b></a>
                </div>
            </li>
        </ul>

        <button class="btn btn-secondary">
            <a href="/user/logout"><b class="text-muted">Log out</b></a>
        </button>
    </div>
</nav>