<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/"><b>Hong Kong Property - Agent</b></a>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/"><b>Property Information</b></a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/"><b>View List</b></a>
                    <a class="dropdown-item" href="/registers/createProperty"><b>Create</b></a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/"><b>Customer</b></a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/"><b>View List</b></a>
                    <a class="dropdown-item" href="/registers/createCustomer"><b>Create</b></a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/"><b>Owner</b></a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/"><b>View List</b></a>
                    <a class="dropdown-item" href="/registers/createOwner"><b>Create</b></a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/"><b>Transaction</b></a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/"><b>View List</b></a>
                    <a class="dropdown-item" href="/registers/createTransaction"><b>Create</b></a>
                </div>
            </li>
        </ul>

        <button class="btn btn-secondary">
            <a href="/user/logout"><b class="text-muted">Log out</b></a>
        </button>
    </div>
</nav>