<button>
    <a href="/user/logout">Log out</a>
</button>

<nav class="Tab_bar">
    <button>
        <a href="/">Home</a>
    </button>

    <button>
        <a href="/">Property Information</a>
    </button>
    <ul>
        <li><a href="/">View List</a></li>
        <li><a href="/">Create</a></li>
    </ul>
    <button>
        <a href="/">Customer</a>
    </button>
    <ul>
        <li><a href="/">View List</a></li>
        <li><a href="/">Create</a></li>
    </ul>
    <button>
        <a href="/">Owner</a>
    </button>
    <ul>
        <li><a href="/">View List</a></li>
        <li><a href="/">Create</a></li>
    </ul>
    <button>
        <a href="/">Transaction</a>
    </button>
    <ul>
        <li><a href="/">View List</a></li>
        <li><a href="/">Create</a></li>
    </ul>
</nav>