<button>
    <a href="/user/logout">Log out</a>
</button>

<nav class="Tab_bar">
    <button>
        <a href="/">Home</a>
    </button>

    <button>
        <a href="/">Owner Property</a>
    </button>
    <button>
        <a href="/">Agent</a>
    </button>
    <button>
        <a href="/">Transaction</a>
    </button>
</nav>