<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Hong Kong Property - Owner</a>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/services/sellingProperty"><b>Selling Property</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/services/rentingProperty"><b>Renting Property</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/"><b>Owner Property</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/"><b>Agent</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/"><b>Transaction</b></a>
            </li>
        </ul>

        <button class="btn btn-secondary">
            <a href="/user/logout"><b class="text-muted">Log out</b></a>
        </button>
    </div>
</nav>