<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/"><b>Hong Kong Property</b></a>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/services/sellingProperty"><b>Selling Property</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/services/rentingProperty"><b>Renting Property</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/services/agentList"><b>Agent</b></a>
            </li>
        </ul>
        
        <b class="text-muted">Create an account or login >></b>
        &nbsp;
        <button class="btn btn-secondary">
            <a href="/user/register"><b class="text-muted">Register</b></a>
        </button>
        &nbsp;
        <button class="btn btn-secondary">
            <a href="/user/login"><b class="text-muted">Log in</b></a>
        </button>
    </div>
</nav>