<label>Create an account or login > </label>
<button>
    <a href="/user/register">Register</a>
</button>
<button>
    <a href="/user/login">Log in</a>
</button>

<nav class="Tab_bar">
    <button>
        <a href="/">Home</a>
    </button>
    <button>
        <a href="/services/sellingProperty">Selling Property</a>
    </button>
    <button>
        <a href="/">Renting Property</a>
    </button>
    <button>
        <a href="/">Property Information</a>
    </button>
    <button>
        <a href="/">Agent</a>
    </button>
</nav>