<table style="margin-left: auto; margin-right: auto;">
    <tr>
        <th><label>Branch ID</label>
        <td><input type="text" name="Branch_ID" placeholder="Branch ID" value="">
    </tr>
    <tr>
        <th><label>Last Name</label></th>
        <td><input type="text" name="LName_Manager" placeholder="Manager Last Name" value=""></td>
    </tr>
    <tr>
        <th><label>First Name</label></th>
        <td><input type="text" name="FName_Manager" placeholder="Manager First Name" value=""></td>
    </tr>
    <tr>
        <th><label>Branch Name</label></th>
        <td><input type="text" name="BranchName" placeholder="Branch Name" value=""></td>
    </tr>
    <tr>
        <th><label>Address</label></th>
        <td><input type="text" name="Address" placeholder="Branch Address" value=""></td>
    </tr>
    <tr>
        <th><label>Password</label></th>
        <td><input type="password" name="Password" placeholder="Enter Password" value=""></td>
    </tr>
    <tr>
        <th><label>Comfirm Password</label></th>
        <td><input type="password" name="Password2" placeholder="Comfirm Password" value=""></td>
    </tr>
</table>