<table style="margin-left: auto; margin-right: auto;">
    <tr>
        <th><label>Customer ID</label></th>
        <td><input type="text" name="Customer_ID" placeholder="Customer ID" value=""></td>
    </tr>
    <tr>
        <th><label>Last Name</label></th>
        <td><input type="text" name="LName_Customer" placeholder="Customer Last Name" value=""></td>
    </tr>
    <tr>
        <th><label>First Name</label></th>
        <td><input type="text" name="FName_Customer" placeholder="Customer Frist Name" value=""></td>
    </tr>
    <tr>
        <th><label>Contact No.</label></th>
        <td><input type="text" name="Phone_Customer" placeholder="Customer Contact Number" value=""></td>
    </tr>
    <tr>
        <th><label>Perferred District</label></th>
        <td><input type="text" name="Perferred_District" placeholder="Perferred District" value=""></td>
    </tr>
    <tr>
        <th><label>Perferred Estate</label></th>
        <td><input type="text" name="Perferred_Estate" placeholder="Perferred Estate" value=""></td>
    </tr>
    <tr>
        <th><label>Buying Budget</label></th>
        <td><input type="number" name="Buying_Budget" placeholder="Buying Budget" value=""></td>
    </tr>
    <tr>
        <th><label>Rental Budget</label></th>
        <td><input type="number" name="Rental_Budget" placeholder="Rental Budget" value=""></td>
    </tr>
    <tr>
        <th><label>Password</label></th>
        <td><input type="password" name="Password" placeholder="Enter Password" value=""></td>
    </tr>
    <tr>
        <th><label>Comfirm Password</label></th>
        <td><input type="password" name="Password2" placeholder="Comfirm Password" value=""></td>
    </tr>
</table>