<table style="margin-left: auto; margin-right: auto;">
    <tr>
        <th><label>Owner ID</label></th>
        <td><input type="text" name="Owner_ID" placeholder="Owner ID" value=""></td>
    </tr>
    <tr>
        <th><label>Last Name</label></th>
        <td><input type="text" name="LName_Owner" placeholder="Owner Last Name" value=""></td>
    </tr>
    <tr>
        <th><label>First Name</label></th>
        <td><input type="text" name="FName_Owner" placeholder="Owner First Name" value=""></td>
    </tr>
    <tr>
        <th><label>Contact No.</label></th>
        <td><input type="text" name="Phone_Owner" placeholder="Owner Contact Number" value=""></td>
    </tr>
    <tr>
        <th><label>Password</label></th>
        <td><input type="password" name="Password" placeholder="Enter Password" value=""></td>
    </tr>
    <tr>
        <th><label>Comfirm Password</label></th>
        <td><input type="password" name="Password2" placeholder="Comfirm Password" value=""></td>
    </tr>
</table>