<h3>Agent Register</h3>
<form action="/branch" method="POST">
    <%- include('_AgentForm') %>
    <button type="reset">Reset</button>
    <button type="submit">Sumbit</button>
    <a href="/branch">Back</a>
</form>