<br><br>
<form action="/user/login" method="POST">
    <fieldset>
        <h3 class="text-center">Login</h3>
        <br>
        <table style="margin-left: auto; margin-right: auto;">
            <tr>
                <th><label>User ID</label></th>
                <td><input type="text" name="User_ID" placeholder="Enter User ID" value=""></td>
            </tr>
            <tr>
                <th><label>Password</label></th>
                <td><input type="password" name="Password" placeholder="Enter Password" value=""></td>
            </tr>
        </table>
        <br>
        <div class="text-center">
            <button type="submit" class="btn btn-primary"><b class="text-muted">Login</b></button>
        </div>
    </fieldset>
</form>
<br>
<div class="text-center">
    <b class="text-muted">No Account?</b>
    <button type="button" class="btn btn-primary"><a href="/user/register"><b class="text-muted">Register</b></a></button>
</div>