<h3>Login</h3>
<form action="/user/login" method="POST">
    <div>
        <label>User ID</label>
        <input type="text" name="User_ID" placeholder="Enter User ID" value="">    
    </div>
    <div>
        <label>Password</label>
        <input type="password" name="Password" placeholder="Enter Password" value="">
    </div>
    <button type="submit">Login</button>
</form>
<label>No Account?</label>
<button type="button"><a href="/user/register">Register</a></button>