<h3>Branch Registry</h3>
<form action="/services" method="POST">
    <%- include('./FormDetail/_BranchForm') %>
    <button type="reset">Reset</button>
    <button type="submit">Sumbit</button>
    <a href="/services">Back</a>
</form>