<br><br>
<form action="/registers/createProperty" method="POST">
    <fieldset>
        <h3 class="text-center">Property Registry</h3>
        <br>
        <%- include('./FormDetail/_PropertyForm') %>
        <br>
        <div class="text-center">
            <button class="btn btn-primary" type="reset">Reset</button>
            <button class="btn btn-primary" type="submit">Sumbit</button>
        </div>
    </fieldset>
</form>
<div class="text-right">
    <a href="/"><b>Back</b></a>
</div>