<h3>Branch Register</h3>
<form action="/services" method="POST">
    <%- include('_BranchForm') %>
    <button type="reset">Reset</button>
    <button type="submit">Sumbit</button>
    <a href="/services">Back</a>
</form>